@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?mgcjfj');
    src: url('fonts/icomoon.eot?mgcjfj#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?mgcjfj') format('truetype'),
        url('fonts/icomoon.woff?mgcjfj') format('woff'),
        url('fonts/icomoon.svg?mgcjfj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('fonts/PlusJakartaSans-Regular.woff') format('woff'),
        url('fonts/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}